@media (max-width: 420px) {

    header {
        text-align: right;
        background: var(--text-color) !important;
    }
    
    .menu {
        display: inline-block;
        filter: invert(1);
    }

    .logo {
        margin-left: 20px;
    }

    .logo h1 {
        color: var(--back-color);
    }

    nav {
        padding-right: 0px;
        float: none;
        position: absolute;
        top: 75px;
        left: -500px;
        height: 590px;
        width: 100%;
        background: var(--text-color);
        overflow-y: auto;
        transition: all 0.3s ease-in;
    }

    nav.show {
        left: 0;
    }

    nav ul li {
        width: 100%;
        padding: 0px;
        color: var(--back-color);
    }

    nav ul ul {
        position: relative;
        float: left;
        top: 60px;
        left: 40px;
    }

    nav ul ul.grop {
        top: 0;
        left: 160px;
    }

    nav .navlist .navlista::after {
        bottom: 16px;
        left: 100%;
        border-top-color: var(--back-color);
    }

    .search-btn {
        margin: 35px 0 0 15px !important;
        float: left !important;
    }

    #theme {
        float: left !important;
        margin: 15px !important;
        background: var(--back-color) !important;
        color: var(--text-color) !important;
    }

    /* ---------------------------------------------card---------------------------------------- */

    .card-body {
        padding: 0rem;
    }

    .note-row {
        columns: 1;
    }

    .note {
        margin: 0 20px;
        margin-bottom: 20px;
        min-height: 180px;
    }

    .container-sg {
        margin-top: 135px;
        max-width: 350px;
    }

    /* -----------------------------------------------tabs-switch-------------------------------- */

    .tabs-switch {
        width: 100%;
    }

    .note-container {
        width: 335px;
    }

    /* -----------------------------------hero-content---------------------------------- */

    .hero-content h1 {
        font-size: 2.7rem;
    }

    .hero-content p {
        font-size: 1.5rem;
    }

    /* -----------------------------------------footer--------------------------------------------- */

    .footer {
        padding: 20px 25px;
        flex-direction: column;
    }

    .filter-i {
        filter: invert(1);
    }

    .noted-n {
        display: block;
    }

    .noted-b {
        display: none;
    }

    .table-2 {
        flex-direction: column;
    }

    .w-100 {
        width: 100%;
    }
}